{% extends 'base.html' %} {% block content %}

<div display="flex">
  <div>
    <img src="{{ user.image_url }}" class="small" />
  </div>
  <div>
    <div display="flex" flex-direction="column">
      <div>{{ user.first_name }} {{ user.last_name }}</div>
      <div>
        <form action="/users/{{ user.id }}/edit" method="get">
          <button>Edit</button>
        </form>
        <form action="/users/{{ user.id }}/delete" method="post">
          <button>Delete</button>
        </form>
        {% if user.posts %}
        <header>Posts</header>
        <ul id="posts">
         {% for post in posts %}
          <li><a href='/posts/{{post.id}}'>{{ post.title }}</li>
         {% endfor %}
        </ul>
        {% endif %}
        <form action="/users/{{ user.id }}/posts/new" method="GET">
          <button>Add Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}